.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.home-image1 {
  width: 200px;
  object-fit: cover;
}
 
.home-image2 {
  width: 200px;
  object-fit: cover;
}
 
.home-image3 {
  width: 200px;
  object-fit: cover;
}
 
.home-image4 {
  width: 200px;
  object-fit: cover;
}
 
.home-image5 {
  width: 200px;
  object-fit: cover;
}
 
.home-image6 {
  width: 200px;
  object-fit: cover;
}
