.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.home-image10 {
  width: 200px;
  object-fit: cover;
}
 
.home-image11 {
  width: 200px;
  object-fit: cover;
}
 
.home-image12 {
  width: 200px;
  object-fit: cover;
}
 
.home-image13 {
  width: 200px;
  object-fit: cover;
}
 
.home-image14 {
  width: 200px;
  object-fit: cover;
}
 
.home-image15 {
  width: 200px;
  object-fit: cover;
}
 
.home-image16 {
  width: 200px;
  object-fit: cover;
}
 
.home-image17 {
  width: 200px;
  object-fit: cover;
}
 
.home-image18 {
  width: 200px;
  object-fit: cover;
}
 
.home-image19 {
  width: 200px;
  object-fit: cover;
}
